    <footer>
        <section class="container row-fix py-64">
            <div class="f-box f-jcsb f-aic mb-24 sm-f-d-c sm-f-ais">
                <a href="./index.html" class="sm-mb-8">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="LOGO">
                </a>
                <ul class="f-box sm-f-d-c sm-pl-12 ">
                    <li class="mr-40 sm-mr-0 ">
                        <a href="./product-List.html" class="d-block tyc-n900 sm-mb-4 sm-py-12 sm-pr-46">
                            商品列表</a>
                    </li>
                    <li>
                        <a href="./brandStory.html" class="d-block tyc-n900 sm-py-12 sm-pr-46">
                            品牌故事</a>
                    </li>
                </ul>
            </div>
            <div class="st-bdt pt-32 ">
                <p class="taCenter tyc-foot">Copyright ©2025 URBNSTYLEll
                    <br> Rights Reserved.
                </p>
            </div>
        </section>
    </footer>
