    <nav class="">
      <ul class="d-none sm-d-f f-aic">
        <li class="sm-flex1 bgc-p200">
            <a href="./product-List.html" class="tyc-n900 taCenter sm-d-blo sm-py-12">
                商品列表</a>
        </li>
        <li class="sm-flex1 bgc-p100">
            <a href="./brandStory.html" class="tyc-n900 taCenter sm-d-blo sm-py-12">
                品牌故事</a>
        </li>
      </ul>
       
    </nav>
