    <nav class="container row-fix f-box f-jcsb f-aic py-16 sm-col-4">
      <div class="f-box f-aic">
          <a href="./index.html" class="mr-48">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg" alt="LOGO">
          </a>
      <ul class="f-box f-aic sm-d-none">
        <li>
            <a href="./product-List.html" class="tyc-n900 mr-40 ">商品列表</a>
        </li>
        <li>
            <a href="./brandStory.html" class="tyc-n900 ">品牌故事</a>
        </li>

      </ul>
      </div>
      <a href="./Favorites.html"><i class="bi bi-person"></i></a>
       
    </nav>
