/*!-----------色彩設定---------------*/
:root{
    --primary100:#F5FEE7;
    --primary200:#E8FEC5;
    --primary300:#C0FA73;
    --primary400:#57A203;
    --primary500:#477A11;

    --neutral000:#ffffff;
    --neutral100:#F8F9FA;
    --neutral200:#E9ECEF;
    --neutral300:#DEE2E6;
    --neutral400:#CED4DA;
    --neutral500:#ADB5BD;
    --neutral600:#6C757D;
    --neutral700:#495057;
    --neutral800:#343A40;
    --neutral900:#212529;
}