/*!-----------間隔---------------*/
.mt-48{
    margin-top: 48px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-4{
    margin-bottom: 4px;
}
.ml-24{
    margin-left: 24px;
}
.mr-48{
    margin-right: 48px;
}
.mr-40{
    margin-right: 40px;
}
.mr-24{
    margin-right: 24px;
}
.mr-12{
    margin-right: 12px;
}
.mr-8{
    margin-right: 8px;
}
.P-32{
    padding: 32px;
}
.px-24{
    padding-left: 24px;
    padding-right: 24px;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-64{
    padding: 64px 0;
}
.py-48{
    padding: 48px 0;
}
.py-32{
    padding: 32px 0;
}
.py-17{
    padding: 17px 0;
}
.py-16{
    padding: 16px 0;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.pl-12{
    padding-left: 12px;
}
.pl-8{
    padding-left: 8px;
}
.pt-32{
    padding-top: 32px;
}
.pb-48{
    padding-bottom: 48px;
}