/*!-----------文字樣式---------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{ 
    /* TW/Label/md */
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: var(--neutral900);
}
.taCenter{
    text-align: center;
}
.taRight{
    text-align: right;
}
.ty-Display1{
    font-weight: 700;
    font-size: 65px;
    line-height: 1.2;
}
.ty-Display2{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
}
.ty-h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}
.ty-h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
}
.ty-h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
}
.ty-h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}
.ty-h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}
.ty-h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}
.ty-sm{
    font-weight: 400;
    font-size: 14px;
}
.tyc-head{
    color: var(--neutral000);
}
a,.tyc-n900{
    color: var(--neutral900);
}
.tyc-high{
    color: var(--primary400);
}
.tyc-p300{
    color: var(--primary300);
}
.tyc-foot{
    color: var(--neutral600);
}
.tyc-n500{
    color: var(--neutral500);
}
.tyc-deco{
    color: var(--neutral300);
}
.tyc-dan300{
    color: #D74F4F;
}
.tyd-line-through{
    text-decoration: line-through;
}
